body {
  border-left: 0.1px solid grey;
  border-right: 0.1px solid grey;
  border-bottom: 0.1px solid grey;
  width: 1000px;
  font-family: Arial, Helvetica, sans-serif;
  color: #e5e5e5;
  margin: 0 auto;
  background-color: #171b23;
  display: grid;
  grid-template-columns: 240px auto;
  grid-template-rows: 70px auto 70px;
  ;
  grid-template-areas:
    "header header"
    "sidebar content"
    "sidebar footer"
}

h1 {
  font-size: 16px;
}


.header-settings {
  background: rgb(34, 42, 57);
  background: -moz-linear-gradient(90deg, rgba(34, 42, 57, 1) 0%, rgba(40, 55, 84, 1) 50%, rgba(34, 42, 57, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(34, 42, 57, 1) 0%, rgba(40, 55, 84, 1) 50%, rgba(34, 42, 57, 1) 100%);
  background: linear-gradient(90deg, rgba(34, 42, 57, 1) 0%, rgba(40, 55, 84, 1) 50%, rgba(34, 42, 57, 1) 100%);
  display: grid;
  grid-area: header;
  border-bottom: 0.1px solid grey;
  border-right: 0.1px solid grey;
  font-size: 18px;
  padding: 25px;
  padding-left: 35px;
}

.sidebar-settings {
  background-color: #2161c;
  display: grid;
  grid-area: sidebar;
  font-size: 13px;
  border-right: 0.1px solid grey;
  letter-spacing: 1px;
}

.sidebar-settings ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  list-style: none;
  font-size: 13px;
  border-right: 0.1px solid grey;
  margin-top: 25px;
  padding-bottom: 50px;
}


.content-settings {
  grid-area: content;
  display: grid;
  padding: 20px;
}

.footer-settings {
  display: grid;
  grid-area: footer;
  background: rgb(34, 42, 57);
  background: -moz-linear-gradient(90deg, rgba(34, 42, 57, 1) 0%, rgba(40, 55, 84, 1) 50%, rgba(34, 42, 57, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(34, 42, 57, 1) 0%, rgba(40, 55, 84, 1) 50%, rgba(34, 42, 57, 1) 100%);
  background: linear-gradient(90deg, rgba(34, 42, 57, 1) 0%, rgba(40, 55, 84, 1) 50%, rgba(34, 42, 57, 1) 100%);
  border-top: 0.1px solid grey;
  border-right: 0.1px solid grey;
  border-bottom: 0.1px solid grey;
}

.footer-settings >* {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-settings:first-child {
 justify-content: flex-start;
}
