body {
  font-family: Arial, Helvetica, sans-serif;
  color: #e5e5e5;
  background-image: url("img/games-background.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;

}
.games {
  display: grid;
  grid-template-columns: 250px auto;
  margin: 0;
  grid-template-areas:
    " header header"
    "sidebar content"
}
.game-header {
  grid-area: header;
  display: grid;
  grid-template-columns: 500px 400px 280px;
  grid-template-areas:
    "left . right";
  width: 1200px;
  height: 42px;
  border-bottom: 0.1px solid grey;


}
.header-left {
  grid-area: left;
  display: flex;
  justify-content: space-around;
  align-items: center;
  word-spacing: 20px;


}
.header-right {
  grid-area: right;
  display: flex;
  justify-content: space-around;
  align-items: center;
  word-spacing: 20px;

}
.header-left:hover {
  color: #ffffff;
}

.sidebar{
  grid-area: sidebar;
  width: 250px;
}
.blizzard ul{
  list-style: none;
  font-size: 13px;
  margin: 0;
  border-right: 0.1px solid grey;

}
li img{
  height: 22px;
  padding-right: 10px;
  margin-bottom: -6px;
}
ul li:first-child{
  font-size: 10px;
}
ul li{
  padding: 4px;
  color: #c6c6c6;

}
ul.blizz-list {
  height: 250px;
}
.games-content{
  grid-area: content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 120px 40px 150px 140px;
  margin: 0;
  grid-template-areas:
    "logo . ."
    "icon . ."
    "thrall cardbundle overwatch"
    "install locate .";

}
.wow-logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thrall {
  grid-area: thrall;
  display: flex;
  justify-content: center;
  align-items: center;

}

.cardbundle {
  grid-area: cardbundle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overwatch-shop {
  grid-area: overwatch;
  display: flex;
  justify-content: center;
  align-items: center;
}
html{
  max-width: 1200px;
}
.install-button{
  grid-area: install;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: space-around;
  padding-left: 15px;
  padding-top: 10px;
}
.wow-icons{
  grid-area: icon;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
div.installed{
  grid-area: locate;
  display: flex;
  justify-content: center;
  align-items: flex-end;


}
.thrall img{
  -webkit-box-shadow: 0px 0px 20px 14px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 20px 14px rgba(0,0,0,0.75);
box-shadow: 0px 0px 20px 14px rgba(0,0,0,0.75);
}
.thrall img:hover{
  -webkit-transform:scale(1.3);
  transition: all .8s ease;
  vertical-align: middle;

}
.cardbundle img{
  -webkit-box-shadow: 0px 0px 20px 14px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 20px 14px rgba(0,0,0,0.75);
box-shadow: 0px 0px 20px 14px rgba(0,0,0,0.75);
}
.overwatch-shop img{
  -webkit-box-shadow: 0px 0px 20px 14px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 20px 14px rgba(0,0,0,0.75);
box-shadow: 0px 0px 20px 14px rgba(0,0,0,0.75);
}
.install-button div:first-child{
  color: grey;
  font-size: 10px;
}
.install-button div:nth-child(2){
  border: 0.1px solid grey;
  padding: 5px 5px 5px 3px;
}
.install-button div:last-child{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1px solid grey;
  background: #0299db;
  padding: 10px 10px 10px 10px;
  font-size: 35px;
}

.install-button div:last-child:hover{
  background: #35c1ff;

}
.installed{
  color: grey;
  font-size: 13px;
}
