@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* On all pages */

    html {
        
        display: grid;
        justify-content: center;
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        color: #e5e5e5;
    }
    html a {
        text-decoration: none;
    }

    /*Links behavior*/
    a:link {
        color: rgb(255, 255, 255);
    }

    a:visited {
        color: rgb(255, 255, 255);
    }

    a:hover {
        color: rgb(255, 255, 255);
    }

    a:active {
        color: rgb(255, 255, 255);
    }

/* On games, news & shop */

.games, .news, .shopAN {
        display: grid;
        grid-template-columns: 250px auto;
        margin: 0;
        grid-template-areas:
          " header header"
          "sidebar content"
}

.game-header {
    grid-area: header;
    display: grid;
    grid-template-columns: 500px 400px 280px;
    grid-template-areas:
      "left . right";
    width: 100%;
    height: 42px;
    border-bottom: 0.1px solid grey;
}

.header-left {
    grid-area: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
    word-spacing: 20px; 
}

.header-right {
    grid-area: right;
    display: flex;
    justify-content: space-around;
    align-items: center;
    word-spacing: 20px;
}

.header-left:hover {
    color: #ffffff;
}

/* Games */
    .games {
        background-image: url("img/games-background.jpg");
        background-repeat: no-repeat;
        background-color: #030000;
        background-size: 100%;
    }

    /* sidebar grid */
    .sidebar {
        grid-area: sidebar;
        width: 250px;
    }

    /* sidebar list styling */
    .blizzard ul {
    list-style: none;
    font-size: 13px;
    margin: 0;
    border-right: 0.1px solid grey;
    }

    /* list icon styling */
    li img {
        height: 22px;
        padding-right: 10px;
        margin-bottom: -6px;
    }

    /* list header styling */
    .blizzard-list-name {
        font-size: 10px;
        color: white;
        padding-left: 40px;
        padding-top: 5px;
        border-right: 0.1px solid grey;
    }

    /* list header styling */
    .Partner-games-list {
        font-size: 10px;
        color: white;
        padding-left: 40px;
        padding-top: 5px;
        border-right: 0.1px solid grey;
    }

    /* list styling */
    ul li {
        padding: 4px;
        color: #c6c6c6;
    }

    /* List style */
    ul.blizz-list {
        height: 250px;
    }

    /* Hovering list items NEED TO CHANGE THIS!!!!*/
    ul li:hover {
        background-color: grey;
        opacity: 0.9;
    }

    /* Content grid */
    .games-content {
        grid-area: content;
        display: grid;
        grid-template-columns: 300px 390px 300px;
        grid-template-rows: 120px 40px 240px 120px;
        margin: 0;
        grid-template-areas:
        "logo . dance"
        "icon . ."
        "thrall cardbundle overwatch"
        "install locate .";
    }

    /* Wow bfa logo position */
    .wow-logo {
        grid-area: logo;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*Thrall image position */
    .thrall {
        grid-area: thrall;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin-left: 20px;
    }

    /* gif position */
    .cardbundle {
        grid-area: cardbundle;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    /* Overwatch image position */
    .overwatch-shop {
        grid-area: overwatch;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin-right: 40px;
    }


    /* Install button position */
    .install-button{
        grid-area: install;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-content: space-around;
        padding-left: 27px;
        padding-top: 10px;
    }

    /* options and redeem a code text position */
    .wow-icons{
        grid-area: icon;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 12px;
    }

    /* options and redeem a code icon position */
    .wow-icons i{
        padding-left: 30px;
        padding-right: 7px;
    }

    /* options and redeem a code icons become bigger on hover */
    .wow-icons i:hover {
        -webkit-transform:scale(1.1)
    }

    /* allready installed location */
    div.installed {
        grid-area: locate;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    /* thrall image styling */
    .thrall img {
        -webkit-box-shadow: 0px 0px 20px 14px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 14px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 14px rgba(0,0,0,0.75);
    }
  
    .thrall img:hover{
        -webkit-transform:scale(1.3);
        transition: all .8s ease;
        vertical-align: middle;
    /* gif styling */
    }

    .cardbundle img {
        -webkit-box-shadow: 0px 0px 20px 14px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 20px 14px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 20px 14px rgba(0,0,0,0.75);
    }

    .cardbundle img:hover {
        -webkit-transform:scale(1.3);
        transition: all .8s ease;
        vertical-align: middle;
    }

    /* overwatch image styling */
    .overwatch-shop img{
        -webkit-box-shadow: 0px 0px 20px 14px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 20px 14px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 20px 14px rgba(0,0,0,0.75);
    }

    .overwatch-shop img:hover{
        -webkit-transform:scale(1.3);
        transition: all .8s ease;
        vertical-align: middle;
    }

    /* grid area: install position & styling */
    .install-button div:first-child{
        color: grey;
        font-size: 10px;
    }

    .install-button div:nth-child(2){
        border: 0.1px solid grey;
        padding: 6px 6px 6px 3px;
        font-size: 14px;
        margin-right: 40px;
    }

    .install-button div:nth-child(2):hover {
        background-color: grey;
    }

    .install-button div:last-child{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.1px solid grey;
        background: #0299db;
        padding: 10px 10px 10px 10px;
        font-size: 20px;
        margin: 5px 40px 5px 0px;
    }
  
    .install-button div:last-child:hover{
        background: #35c1ff;
    }

    .installed {
        color: grey;
        font-size: 15px;
    }
    .installed a {
        text-decoration: none;
        color: #0299db;
    }

    /* hovering over icon will make them grey */
    i:hover{
        -webkit-transform:scale(1.3);
        transition: all .2s ease;
        vertical-align: middle;
    }

    /* hovering over list items will make them bigger */
    .blizz-list li:hover{
        -webkit-transform:scale(1.0);
        transition: all .2s ease;
        vertical-align: middle;
    }

    .blizz-list li:first-child:hover{
        -webkit-transform:scale(1.0);
    }
    
    .partner-list li:hover{
        -webkit-transform:scale(1.0);
        transition: all .2s ease;
        vertical-align: middle;
    }

    .partner-list li:first-child:hover{
        -webkit-transform:scale(1.0);
    }

    /* specific (subscription) icon positioning */
    .fas.fa-history{
        border: 1px solid grey;
        border-radius: 2px;
        padding: 20px 20px 20px 20px;
        margin-right: 35px;
        margin-bottom: 7px;
    }

    /* hovering over sub icon will make it bigger */
    .fas.fa-history:hover{
        -webkit-transform:scale(1.1);
        transition: all .2s ease;
        vertical-align: middle;
    }

/* News */
    .news {
        
        display: grid;
        grid-template-columns: 300px auto;
        
        grid-template-areas:
        "header header"
        "sidebar content"
    }
    #bodynews {
        background-image: url("img/background-overwatch.jpg");
        background-repeat: repeat;
        background-size: 100%;

    }

    /* under header */
    .news-list {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 30px;
        width: 1200px;
        margin: 0;
        font-size: 15px;
    }

    .news-list div:hover {
        -webkit-transform:scale(1.1);
        transition: all .2s ease;
        vertical-align: middle;
    }

    .news a {
        text-decoration: none;
    }

    /* News-content */
    .news-content {
        width: 80%;
    }

    .news-title p {
        grid-area: content;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 25px;
        padding: 20px 0px;
    }

    .news-topics img {
        height: 150px;
        width: 290px;
    }

    .news-topics div {
        display: flex;
        justify-content: center;
    }

    .news-topics {
        margin: 0;
        margin-top: 50px;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 150px;
        grid-template-areas:
            "topic1 topic2 topic3";  
    }

    .topic1 {
        grid-area: topic1;
        overflow: hidden;
    }

    .topic1 img:hover {
        -webkit-transform:scale(1.3);
        transition: all .8s ease;
        vertical-align: middle;
    }

    .topic2 {
        grid-area: topic2;
        overflow: hidden;
    }

    .topic2 img:hover {
        -webkit-transform:scale(1.3);
        transition: all .8s ease;
        vertical-align: middle;
    }

    .topic3 {
        grid-area: topic3;
        overflow: hidden;
    }

    .topic3 img:hover {
        -webkit-transform:scale(1.3);
        transition: all .8s ease;
        vertical-align: middle;
    }

    /* Recent news */
    .recent-news img {
        height: 100px;
        width: 200px;
    }

    .recent-news h2 {
        font-size: 15px;
        font-weight: lighter;
        padding: 5px 0px;
        color: grey;
    }

    .recent-news h3 {
        font-size: 20px;
        padding: 5px 0px;
    }

    .recent-news p {
        font-size: 15px;
        padding: 5px 0px;
        color: #939496;
        font-weight: bolder
    }

    .recent-news i {
        padding: 5px 0px;
    }

    .recent-news i:hover{
        -webkit-transform:scale(1.1);
        transition: all .2s ease;
        vertical-align: middle;
    }

    .recent-news div {
        border-bottom: 0.1px solid grey;
    }

    .recent-news {
        grid-area: content;
        display: grid;
        grid-template-columns: 200px 700px;
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
            "pic1 RN1"
            "pic2 RN2"
            "pic3 RN3"
            "pic4 RN4"
            "pic5 RN5";
    }

    .pic-N1 {
        border-top: 0.1px solid grey;
        grid-area: pic1;
        display: flex;
        align-items: center;
        padding: 15px 0px;
    }

    .RN1-content {
        border-top: 0.1px solid grey;
        grid-area: RN1;
        padding: 15px 0px 15px 25px;
    }

    .pic-N2 {
        grid-area: pic2;
        display: flex;
        align-items: center;
        padding: 15px 0px;
    }

    .RN2-content {
        grid-area: RN2;
        padding: 15px 0px 15px 25px;
    }

    .pic-N3 {
        grid-area: pic3;
        display: flex;
        align-items: center;
        padding: 15px 0px;
    }

    .RN3-content {
        grid-area: RN3;
        padding: 15px 0px 15px 25px;
    }

    .pic-N4 {
        grid-area: pic4;
        display: flex;
        align-items: center;
        padding: 15px 0px;
    }

    .RN4-content {
        grid-area: RN4;
        padding: 15px 0px 15px 25px;
    }

    .pic-N5 {
        grid-area: pic5;
        display: flex;
        align-items: center;
        padding: 15px 0px;
    }

    .RN5-content {
        grid-area: RN5;
        padding: 15px 0px 15px 25px;
    }

/* Setting */

    /**SETTINGS**/
    .body-settings {
        border-left: 0.1px solid grey;
        border-right: 0.1px solid grey;
        border-bottom: 0.1px solid grey;
        border-top: 0.1px solid grey;
        width: 1000px;
        font-family: Arial, Helvetica, sans-serif;
        color: #b2b2b2;
        margin: 0 auto;
        background-color: #171b23;
        display: grid;
        grid-template-columns: 240px auto;
        grid-template-rows: 70px auto 70px;
        grid-template-areas:
        "header header"
        "sidebar content"
        "sidebar footer"
    }
    
    .general-settings h1 {
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 20px;
    }
    
    .general-settings h2 {
        font-size: 13px;
        font-weight: lighter;
        color: #5d6065;
        margin-left: 10px;
    }
    
    .general-settings i {
        color: #048dc1;
    }
    
    .general-settings p {
        font-size: 13px;
        font-weight: lighter;
        margin-left: 20px;
    }
    
    
    
    /**settings-header*/
    .header-settings {
        background: rgb(34, 42, 57);
        background: -moz-linear-gradient(90deg, rgba(34, 42, 57, 1) 0%, rgba(40, 55, 84, 1) 50%, rgba(34, 42, 57, 1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(34, 42, 57, 1) 0%, rgba(40, 55, 84, 1) 50%, rgba(34, 42, 57, 1) 100%);
        background: linear-gradient(90deg, rgba(34, 42, 57, 1) 0%, rgba(40, 55, 84, 1) 50%, rgba(34, 42, 57, 1) 100%);
        display: grid;
        grid-area: header;
        border: 0.1px solid grey;
        font-size: 18px;
        padding: 25px;
        padding-left: 35px;
    }
    
    /**settings-sidebar**/
    .sidebar-settings {
        background-color: #191e26;
        display: grid;
        grid-area: sidebar;
        font-size: 13px;
        border-right: 0.1px solid grey;
        letter-spacing: 1px;
    }
    
    .sidebar-settings ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: left;
        list-style: none;
        font-size: 13px;
        border-right: 0.1px solid grey;
        margin-top: 25px;
        padding-bottom: 200px;
    }
    
    .sidebar-settings i {
        color: #048dc1;
    }
    
    .content-settings {
        grid-area: content;
        display: grid;
        padding: 20px;
    }
    
    .checkbox:hover, .checkbox i:hover {
        color: #d6d9dd;
        opacity: 1;
    }
    
    .minimzed-settings {
        font-weight: lighter;
        color: #5d6065;
        margin-left: 20px;
    }
    
    .minimzed-settings i {
        color: #5d6065;
    }
    
    .logged-in {
        margin-left: 20px;
    }
    
    /**settings-footer**/
    .footer-settings {
        display: grid;
        grid-area: footer;
        background: rgb(34, 42, 57);
        background: -moz-linear-gradient(90deg, rgba(34, 42, 57, 1) 0%, rgba(40, 55, 84, 1) 50%, rgba(34, 42, 57, 1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(34, 42, 57, 1) 0%, rgba(40, 55, 84, 1) 50%, rgba(34, 42, 57, 1) 100%);
        background: linear-gradient(90deg, rgba(34, 42, 57, 1) 0%, rgba(40, 55, 84, 1) 50%, rgba(34, 42, 57, 1) 100%);
        border-top: 0.1px solid grey;
        border-right: 0.1px solid grey;
        border-bottom: 0.1px solid grey;
    }
    
    .footer-settings>* {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 13px;
        color: #048dc1;
        border: 0.1px solid grey;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .reset2 {
        background-color: #171b23;
        font-size: 13px;
        color: #048dc1;
        border: 0.1px solid grey;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        width: 100px;
        margin-right: 420px;
    }
    
    .reset1 {
        font-size: 13px;
        color: #048dc1;
        border: 0.1px solid grey;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        width: 170px;
        margin-left: 10px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    .reset1:hover, .reset2:hover {
        color: #d6d9dd;
        border: 0.1px solid #d6d9dd;
        opacity: 1;
    }
    
    .done {
        font-size: 13px;
        color: white;
        border: 0.1px solid grey;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgb(13, 149, 212);
        background: -moz-radial-gradient(circle, rgba(13, 149, 212, 1) 0%, rgba(8, 136, 195, 1) 100%);
        background: -webkit-radial-gradient(circle, rgba(13, 149, 212, 1) 0%, rgba(8, 136, 195, 1) 100%);
        background: radial-gradient(circle, rgba(13, 149, 212, 1) 0%, rgba(8, 136, 195, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d95d4", endColorstr="#0888c3", GradientType=1);
    }
    
    .done:hover {
        filter: brightness(150%);
    }
    
    /**settings-lists**/
    .general-list {
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        border: 0.1px solid grey;
        width: 300px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 20px;
        margin-left: 10px;
    }
    
    .general-list:hover {
        color: #d6d9dd;
        border: 0.1px solid #d6d9dd;
        opacity: 1;
    }

/* Shop */
    #bodyAN {
        font-family: 'Muli', sans-serif;
        color: #e5e5e5;
        background-image: url(img/bg-shop.jpg);
        background-repeat: no-repeat;
        background-size: 6000px 3000px;
    }

    /*NAV*/
#navigatieAN {
    display: grid;
    grid-template-areas: "Home Games Services BlizzardGear Search Wishlist Blizzard-balance";
    grid-template-columns: 250px 70px 70px 110px 300px 120px 336px;
    height: 50px;
    width: 1200px;
    font-size: 15px;
    background-color: rgba(2, 2, 94, 0.514);
    border-bottom: 0.1px solid grey;
}
.homeAN {
    
    display: flex;
    justify-content: flex-end;
    align-items: center;  
    margin-right: 5px;
}
.gamesAN, .servicesAN, .blizzardgearAN {
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbarAN {
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
    border: 0.1px solid rgba(128, 128, 128, 0.315);
    margin: 7px;
    background-color: rgba(3, 2, 66, 0.603);
}
.WishListAN{
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid rgba(255, 255, 255, 0.459);
    border-right: 2px solid rgba(255, 255, 255, 0.459);
    
}
.BlizzardBalanceAN {
    
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    align-items: center;
}

/*Banner*/
#backgroundimageAN{
    background-image: url(img/bundle.png);
    height: 485px;
    width: 1200px;
    background-repeat: no-repeat;
    display: grid;
}
.introbuynowAN {
    width: 500px;
    height: 400px;
    display: grid;
    grid-template-areas: 
    "logo" 
    "intro" 
    "button";
    position: relative;
    left: 100px;
    top: 30px;
    }
.hearthstonelogooAN {
    width: 500px;
    height: 200px;
    grid-area: logo;
    display: flex;
}
.hearthstonelogooAN img {
    width: 480px;
    height: 200px;
}
.introAN {
    grid-area: intro;
    position: absolute;
    left: 35px;
    top: -100px;
    width: 400px;
    height: 60px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    color: rgb(192, 192, 192);
    text-shadow: 2px 2px black;
    font-weight: bold;
}
button{
    grid-area: button;
    width: 300px;
    height: 50px;
    position: relative;
    left: 85px;
    top: -10px;
    background-color: rgb(45, 104, 192);
    font-size: 20px;
    color: white;
    border: 1px solid rgb(45, 104, 192);
}
button:hover {
    background-color: rgb(76, 143, 245);
    cursor: pointer;
}
.introbuynowAN a {
    height: 0px;
    width: 0px;
}

/*Logos*/
#gamelogosAN {
    display: grid;
    grid-template-areas: " blzgms wow ow d3 hs hots sc2 sc d2 warcraft3 pg mw dest bo4 empty";
    font-size: 15px;
    background-color: rgba(151, 151, 255, 0.151);
    border-top: 0.1px solid grey;
    border-bottom: 0.1px solid grey;
    grid-template-columns: 170px repeat(9 70px) 158px 80px 70px 70px;
    height: 60px;
    width: 1200px;
}
#gamelogosAN img {
    height: 40px;
    width: 40px;
}
.blizzardgmsAN {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px; 
}
.wowlogoAN, .owlogoAN, .diablo3logoAN, 
.hslogoAN, .hotslogoAN, .starcraft2logoAN,
.starcraftlogoAN,.diablo2AN {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wowlogoAN:hover {
    transform: scale(1.2);
}
.owlogoAN:hover {
    transform: scale(1.2);
}
.diablo3logoAN:hover {
    transform: scale(1.2);
}
.hslogoAN:hover {
    transform: scale(1.2);
}
.hotslogoAN:hover{
    transform: scale(1.2);
}
.starcraft2logoAN:hover{
    transform: scale(1.2);
}
.starcraftlogoAN:hover{
    transform: scale(1.2);
}
.diablo2AN:hover{
    transform: scale(1.2);
}
.warcraft3logoAN, .mwAN,.destinylogoAN, .cod4AN  {
    display: flex;
    justify-content: center;
    align-items: center;
}
.warcraft3logoAN:hover{
    transform: scale(1.2);
}
.pgAN{ 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin: 7px;
    border-left: 2px solid rgba(255, 255, 255, 0.459);
}
.mwAN:hover{
    transform: scale(1.2)
}
.destinylogoAN:hover{
    transform: scale(1.2)
}

.cod4AN:hover{
    transform: scale(1.2)
}
i {
    color:rgb(116, 153, 253);
}
/*Recommended*/
#recommendedAN{
    width: 1200px;
    height: 1000px;
    display: grid;
    grid-template-areas:  
    "a1 a2 a3"
    "a b c";
}
.rcmAN{
    font-size: 40px;
    margin-left: 58px;
    margin-top: 25px;
    margin-bottom: 15px;
    width: 280px;

}
.rec1AN , .rec2AN , .rec3AN , .rec4AN , .rec5AN , .rec6AN {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 15px;
}
.rec1AN img:hover {
    transform: scale(1.05);
    box-shadow: -1px 0px 21px 0px rgba(0,0,0,0.75);
}

.rec2AN img:hover {
    transform: scale(1.05);
    box-shadow: -1px 0px 21px 0px rgba(0,0,0,0.75);
}

.rec3AN img:hover {
    transform: scale(1.05);
    box-shadow: -1px 0px 21px 0px rgba(0,0,0,0.75);
}

.rec4AN img:hover {
    transform: scale(1.05);
    box-shadow: -1px 0px 21px 0px rgba(0,0,0,0.75);
}

.rec5AN img:hover {
    transform: scale(1.05);
    box-shadow: -1px 0px 21px 0px rgba(0,0,0,0.75);
}

.rec6AN img:hover {
    transform: scale(1.05);
    box-shadow: -1px 0px 21px 0px rgba(0,0,0,0.75);
}
#footerAN {
    display: grid;
    grid-template-areas: 
    "English"
    "Blizzard"
    "careers about support contact us press api"
    "abc"
    "cba"
    "privacy terms cookies";
    width: 1200px;
    color: #e5e5e5a6;
    
}
#footerAN a {
    text-decoration: none;
    color: #e5e5e5a6;
}

.blizzlogoAN img{
    width: 200px;
    height: 100px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.languageAN, .blizzlogoAN {
    width: 1200px;
    display: grid;
    justify-content: center;
}
.infoAN {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.carAN, .aboAN, .supAN, .conAN, .preAN{
    border-right: 1px solid #e5e5e5ab;
    padding-left: 15px;
    padding-right: 15px;
}
.apiAN {
    padding-left: 15px;
    padding-right: 15px;
}
.ARRAN, .ARR2AN{
    display: flex;
    justify-content: center;
}
.ARR2AN a{
    text-decoration: none;
    color: rgb(111, 160, 252);
}
.PTCAN {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.prAN, .trmAN{
    border-right: 1px solid #e5e5e5ab;
    padding-left: 10px;
    padding-right: 10px;
}
.cooAN {
    padding-left: 10px;
}
